body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation {
  margin: 0;
  background-color: darkslateblue;
  text-align: left;
  padding: 10px;
  padding-left: 50px;
}

.navigation li{
  display: inline-block;
  margin-right: 15px;
}
.navigation li a{
  color: #ffffff;
  text-decoration: none;
}
